@imgHeight : 200px;
@imgWidth : 200px;
header{
  background-color:cornflowerblue;
  height: 50px;
  width: 100%;
  color: white;
  padding-top: 20px;
}

#nav{
  margin-right: 40px;
  float:right;
  font-size: 20px;
  font-color:white;
}

#calImage{
  height: @imgHeight;
  width: @imgWidth;
}

#timImage{
  height: @imgHeight;
  width: @imgWidth;
}

#imageHolder{
  text-align: center;
}

#backImage{
  width:100%;
  height:400px;
}

#link{
  margin-left: 90px;
}