
#title{
  margin-left:50%;
}

#label{
  font-size: 20px;
}

#timerInput{
  height: 30px;
  border-radius:10px;
}

#startButton{
  margin-bottom: 100px;
  width:200px;
  background-color: cornflowerblue;
}

#timerBody{
  background-color: lightgray;
  margin-left:20%;
  margin-right:20%;
  height: 400px;
}